<!DOCTYPE html>
<html>
<head>
	<title>Escape the Call</title>
	<meta charset="UTF-8">
	<!--Import materialize.css-->
<!--Let browser know website is optimized for mobile-->
	<link href="/css/styles.css" rel="stylesheet" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
</head>
<body>
	<header>
	</header>
	<main>
		<div id="start">
			<h1>Escape the Call</h1>
			<h2>Get off the phone with your mom!</h2>
			<p>If you can get off the phone with your mom before your time runs out, without making her furious, you get to move onto the next level!</p>
			<p>Choose the right responses to her in the right order and you just may be able to get off the phone in time for the call not to interfere with your life!</p>
			<p>But be warned, if you hang up when your mother is angry with you, you will regret!</p>
			<button class="start">Start the Game</button>
			<h3>Warning: Some moving gifs present</h3>
		</div>
		<div id="upper">
			<h3>Anger</h3>
			<div id="mom-anger">
			</div>
			<div id="mom-pic">
			</div>
			<div class="mom-phrase">
				<div id="bubble">
				</div>
			</div>
		</div>
		<div class="line"></div>
		<div id="status">
			<div id="player-points">Points
				<div id="point-count"></div>
			</div>
			<div id="current-status">
			</div>
			<div id="timer-title">Timer
				<div id="timer">
				</div>
			</div>
		</div>
		<div class="line"></div>
		<div id="choice-box">
			<div id="choices">
			</div>
			<div id="hangup">
				<img src="/images/phonetriangle.png" alt="picture of a phone">
				<h2>hang up</h2>
			</div>
		</div>

	</main>
	<div class="banner">
		<a href="http://lindseydragun.com/"><img src="/images/bannerad01.png" alt="silly banner ad"></img></a>
	</div>

	<div id="counter">
		<a href="http://www.freecounterstat.com" target="_Blank" title="page counter">*</a>
	</div>

	<div class="construction">
		<a href="http://www.github.com/lmdragun/escapethecall"><img src="/images/underconstruction.gif" alt="under construction"></a>
	</div>

	<footer>
		<small>Made with love and tears by <a href="http://twitter.com/lmdragun">@lmdragun</a></small>
	</footer>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src='js/models/game.js'></script>
<script src='js/views/game.js'></script>
	<script src='js/scripts.js'></script>
	<script type="text/javascript" src="http://counter9.bestfreecounterstat.com/private/counter.js?c=ddde38ce9f81d85fe4db638b2554fee3"></script>
</body>
</html>
