
@font-face {
    font-family: vtc_screamitloud;
    src: url('/fonts/vtc_screamitloud_regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

/* Regular mom font */
@font-face {
    font-family: emmasophia;
    src: url('/fonts/emmasophia-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

/* Annoyed mom font */
@font-face {
    font-family: the_betty_font;
    src: url('/fonts/the_betty_font-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

/* Angry mom font */
@font-face {
    font-family: irregularis;
    src: url('/fonts/irregularis-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

/* Furious mom font */
@font-face {
    font-family: evil_bunny;
    src: url('/fonts/evil_bunny-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

	* {
		padding: 0;
		margin: 0;
	}
	body {
		min-width: 100%;
		background-color: #000;
		background: url("/images/phones01a.png");
	}

.line {
	width: 90%;
	margin-left: 5%;
	height: 6px;
	position: relative;
	display: block;
	background: #959595; /* Old browsers */
	background: -moz-linear-gradient(top, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 54px;
	-moz-border-radius: 54px;
	border-radius: 54px;
}

/* The modal-ish part */

#start {
	min-width: 100%;
	min-height: 100%;
	text-align: center;
	float: center;
	font-size: 30px;
	color: #fff;
	background-color: rgba(0,0,0,.8);
	z-index: 1000;
	position: absolute;
}
	#start p {
		width: 50%;
		margin: 20px auto;
		font-size: 20px;
	}

	#start h1, #start h2 {
		font-family: vtc_screamitloud, sans-serif;
		padding: 10px;
	}

	#start h3 {
		font-size: 12px;
	}

	.start {
		padding: 5px;
	}

	#phone-handle {
		z-index: 1000;
		position: absolute;
	}

/* 	The mom part */

	#upper {
		width: 100%;
		height: 300px;
	}

	h3 {
		font-size: 16px;
		color: red;
		font-family: vtc_screamitloud, sans-serif;
		margin: 3% 0 0 4%;
		position: absolute;
	}

	#mom-pic {
		width: 40%;
		height: 100%;
		float: left;
		padding: 0;
		margin: 0;
	}

	#mom-pic img {
		width: auto;
		height: 70%;
		margin-top: 10%;
		margin-left: 20%;
		border: 1px dotted #000;
	}

	#mom-anger {
		width: 40px;
		height: 200px;
		border: 1px solid red;
		float: left;
		margin: 5% 0 0 5%;
		display: block;
		overflow: hidden;
		background-color: black;
	}

	#mom-anger div {
		width: 100%;
		height: 2px;
		background-color: red;
	}


#bubble {
	position: relative;
	width: 80%;
	min-height: 40%;
	max-height: 100%;
	padding: 0px;
	background: #FFFFFF;
	-webkit-border-radius: 54px;
	-moz-border-radius: 54px;
	border-radius: 54px;
	border: #FF7F7F solid 1px;
	margin: 10px auto;
}

#bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 18px 24px 18px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -18px;
	left: -24px;
	top: 50%;
}

#bubble:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 18px 24px 18px 0;
	border-color: transparent #FF7F7F;
	display: block;
	width: 0;
	z-index: 0;
	margin-top: -18px;
	left: -25px;
	top: 50%;
}

#bubble p {
	text-align: center;
	padding: 15px;
}

	.mom-phrase {
		float: right;
		width: 50%;
		height: 100%;
	}

	#timer-title {
		font-family: vtc_screamitloud, sans-serif;
		font-size: 30px;
		padding: 10px;
		width: 150px;
		text-align: center;
		color: green;
/* 		background-color: #000; */
		text-shadow: 10px 10px 5px #0BFB03;
		float:right;
		margin-left: 10px;
	}

	#timer {
		text-shadow: 0;
	}

	#status {
		width: 100%;
		height: 120px;
		color: #fff;
		display: inline;
		background-color: #000;
		display: block;
	}

	#player-points {
		font-family: vtc_screamitloud, sans-serif;
		font-size: 30px;
		padding: 10px;
		width: 150px;
		text-align: center;
		color: green;
/* 		background-color: #000; */
		text-shadow: 10px 10px 5px #0BFB03;
		float:left;
	}

	#point-count {
		font-size: 40px;
/* 		background-color: #000; */
		display: block;
	}

	#current-status {
		float: left;
		display: inline;
		width: 70%;
	}
	#current-status p {
		height: auto;
		font-size: 30px;
		padding: 20px;
		float: right;
		position: relative;
	}
	#choice-box {
		width: 100%;
		height: 200px;
		color: #fff;
		display: inline-block;
		padding: 5px;
		margin: 0 auto;
	}

	#choices h1 {
		font-size: 20px;
		border: 1px solid green;
		background-color: black;
		width: 30%;
		display: inline-block;
		padding: 5px;
		margin: 4px;
		text-align: center;
		-webkit-border-radius: 54px;
		-moz-border-radius: 54px;
		border-radius: 54px;
		text-shadow: 10px 10px 6px #0BFB03;
	}

	#hangup {
/* 		margin-left: 45%; */
		text-align: center;
		margin-top: 20px;
	}

	#hangup img {
		margin: 0 auto;
		width: 100px;
		height: auto;
	}

/*   Bottom of the page */

 .banner {
  width: 100%;
}
.banner img {
  height: 150px;
  float: left;
}
.construction {
  width: 100%;
  padding: 10px;
}
  .construction img {
    width: 100%;

  }
#counter img {

  margin-top: 10%;
}

  footer {
    width: 100%;
    color: #FFF;
    text-align: center;
    margin-top: 100px;

  }
